<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Home
        </title>
    </head>
    <body style="background-color:yellow">
        <h1>Hello!</h1>
        <h2>Test</h2>
        <h3>Test</h3>
        <p>Welcome to this barebone website</p>
        <a href="https://www.w3schools.com"> hocHTML</a>
        <p>This is a <br> paragraph with a line break.</p>
        <p style = "color:red;">This is green paragrah.</p>
        <p title="I'm a tooltip"> This is a paragraph.</p>
        <p title='John "ShotGun" Nelson'> This is a paragraph.</p>
        <img src="img_typo.jpg" alt="Girl with a jacket">

        <h1>Travel Guide</h1>

        <h2>Europe</h2>
        <h3>France</h3>
        <h3>France</h3>
        
        <h2>Asia</h2>
        <h3>India</h3>
        <h3>Thailand</h3>

        <h1 style="font-size:60px;">Heading 1</h1>
        <p>
        This paragraph
        contains a lot of lines
        in the source code,
        but the browser
        ignores it.
        </p>

        <p>
        This paragraph
        contains         a lot of spaces
        in the source         code,
        but the        browser
        ignores it.
        </p>

        
        <!-- visible separate line to defines a thematic change in the content -->
        <h1>This is heading 1</h1>
        <p>This is some text.</p>
        <hr>
        <h2>This is heading 2</h2>
        <p>This is some other text.</p>
        <hr>
        

        <!-- Inserts a single line break -->
        <p>This is<br>a paragraph <br>with line breaks.</p>

        
        <!-- Depreformatted text  -->
        <pre>
            My Bonnie lies over the ocean.

            My Bonnie lies over the sea.

            My Bonnie lies over the ocean.

            Oh, bring back my Bonnie to me.
        </pre>



        <h1> HTML STYLES <h1> 
            <!-- syntax -->
            <!-- <tagname style="property:value;"> -->
            <div style ="background-color: powderblue"> 
                <h2 style="background-color: tomato">London</h2>
                    <p style = "background-color: ">London is the capital city of England.</p>
                    <p>London has over 9 million inhabitants.</p>
            </div>
                









    </body>
</html>